<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>

    <!--定义数据访问器程序集-->
    <assembly name="SH3H.WAP.DataAccess.SqlServer" />
    <!--<assembly name="SH3H.WAP.DataAccess.Oracle" />-->

    <!--定义数据访问器命名空间-->
    <!--SqlServer-->
    <namespace name="SH3H.WAP.DataAccess.SqlServer" />
    <namespace name="SH3H.WAP.DataAccess.SqlServer.Auth" />
    <namespace name="SH3H.WAP.DataAccess.SqlServer.Scada" />
    <namespace name="SH3H.WAP.DataAccess.SqlServer.Config" />
    <namespace name="SH3H.WAP.DataAccess.SqlServer.FileServer" />
    <namespace name="SH3H.WAP.DataAccess.SqlServer.Bulletin" />
    <namespace name="SH3H.WAP.DataAccess.SqlServer.Print" />
    <namespace name="SH3H.WAP.DataAccess.SqlServer.Pwp" />
    <!--Oracle-->
    <!--<namespace name="SH3H.WAP.DataAccess.Oracle.Config" />-->

    <!--定义Auth数据存储接口别名-->
    <alias alias="IWapAppStorage" type="SH3H.WAP.DataAccess.Auth.IWapAppStorage, SH3H.WAP.DataAccess" />
    <alias alias="IWapMenuStorage" type="SH3H.WAP.DataAccess.Auth.IWapMenuStorage, SH3H.WAP.DataAccess" />
    <alias alias="IWapRoleStorage" type="SH3H.WAP.DataAccess.Auth.IWapRoleStorage, SH3H.WAP.DataAccess" />
    <alias alias="IWapUserStorage" type="SH3H.WAP.DataAccess.Auth.IWapUserStorage, SH3H.WAP.DataAccess" />
    <alias alias="IWapFunctionStorage" type="SH3H.WAP.DataAccess.Auth.IWapFunctionStorage, SH3H.WAP.DataAccess" />

    <!--定义Scada数据存储接口别名-->
    <alias alias="IWapScadaRecentValueStorage" type="SH3H.WAP.DataAccess.Scada.IWapScadaRecentValueStorage, SH3H.WAP.DataAccess" />
    <alias alias="IWapScadaValueStorage" type="SH3H.WAP.DataAccess.Scada.IWapScadaValueStorage, SH3H.WAP.DataAccess" />

    <!--定义FileServer数据存储接口别名-->
    <alias alias="IWapFileDescriptorStorage" type="SH3H.WAP.DataAccess.FileServer.IWapFileDescriptorStorage, SH3H.WAP.DataAccess"></alias>
    
    <!--定义Config数据存储接口别名-->
    <alias alias="IWapCalendarDateStorage" type="SH3H.WAP.DataAccess.Config.IWapCalendarDateStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapWordStorage" type="SH3H.WAP.DataAccess.Config.IWapWordStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapCaliberStorage" type="SH3H.WAP.DataAccess.Config.IWapCaliberStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapModelStorage" type="SH3H.WAP.DataAccess.Config.IWapModelStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapProducerStorage" type="SH3H.WAP.DataAccess.Config.IWapProducerStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapStationStorage" type="SH3H.WAP.DataAccess.Config.IWapStationStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapDutyStorage" type="SH3H.WAP.DataAccess.Config.IWapDutyStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapCalendarStorage" type="SH3H.WAP.DataAccess.Config.IWapCalendarStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapConfigurationStorage" type="SH3H.WAP.DataAccess.Config.IWapConfigurationStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapMobileConfigStorage" type="SH3H.WAP.DataAccess.Config.IWapMobileConfigStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapMobileAPKStorage" type="SH3H.WAP.DataAccess.Config.IWapMobileAPKStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapMobileDataStorage" type="SH3H.WAP.DataAccess.Config.IWapMobileDataStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapMobileDeviceStorage" type="SH3H.WAP.DataAccess.Config.IWapMobileDeviceStorage, SH3H.WAP.DataAccess"></alias>

    <!--定义Bulletin数据存储接口别名-->
    <alias alias="IWapBulletinStorage" type="SH3H.WAP.DataAccess.Bulletin.IWapBulletinStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapBulletinChannelStorage" type="SH3H.WAP.DataAccess.Bulletin.IWapBulletinChannelStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapBulletinExtendStorage" type="SH3H.WAP.DataAccess.Bulletin.IWapBulletinExtendStorage, SH3H.WAP.DataAccess"></alias>

    <!--定义PrintSetting数据存储接口别名-->
    <alias alias="IWapPrintTemplateStorage" type="SH3H.WAP.DataAccess.Print.IWapPrintTemplateStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapPrintSettingStorage" type="SH3H.WAP.DataAccess.Print.IWapPrintSettingStorage, SH3H.WAP.DataAccess"></alias>

    <!--定义Pwp数据存接口别名-->
    <alias alias="IWapPwpStorage" type="SH3H.WAP.DataAccess.Pwp.IWapPwpStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapPageTemplateStorage" type="SH3H.WAP.DataAccess.Pwp.IWapPageTemplateStorage, SH3H.WAP.DataAccess"></alias>
    <alias alias="IWapPwpReportStorage" type="SH3H.WAP.DataAccess.Pwp.IWapPwpReportStorage, SH3H.WAP.DataAccess"></alias>

    <containers>
      <container>

        <!--定义Auth数据存储-->
        <register type="IWapAppStorage" mapTo="WapAppStorage" />
        <register type="IWapMenuStorage" mapTo="WapMenuStorage" />
        <register type="IWapRoleStorage" mapTo="WapRoleStorage" />
        <register type="IWapUserStorage" mapTo="WapUserStorage" />
        <register type="IWapFunctionStorage" mapTo="WapFunctionStorage" />
        
        <!--定义Scada数据存储-->
        <register type="IWapScadaRecentValueStorage" mapTo="WapScadaRecentValueStorage" />
        <register type="IWapScadaValueStorage" mapTo="WapScadaValueStorage" />
        <register type="IWapScadaValueStorage" mapTo="WapScadaValueStorage" />

        <!--定义FileServer数据存储-->
        <register type="IWapFileDescriptorStorage" mapTo="WapFileDescriptorStorage"></register>

        <!--Oracle-->
        <!--<register type="IWapFileDescriptorStorage" mapTo="SH3H.WAP.DataAccess.Oracle.FileServer.WapFileDescriptorStorage, SH3H.WAP.DataAccess.Oracle"></register>-->

        <!--定义Config数据存储-->
        <register type="IWapCalendarDateStorage" mapTo="WapCalendarDateStorage"></register>
        <register type="IWapWordStorage" mapTo="WapWordStorage"></register>
        <register type="IWapCaliberStorage" mapTo="WapCaliberStorage"></register>
        <register type="IWapModelStorage" mapTo="WapModelStorage"></register>
        <register type="IWapProducerStorage" mapTo="WapProducerStorage"></register>
        <register type="IWapStationStorage" mapTo="WapStationStorage"></register>
        <register type="IWapDutyStorage" mapTo="WapDutyStorage"></register>
        <register type="IWapCalendarStorage" mapTo="WapCalendarStorage"></register>
        <register type="IWapConfigurationStorage" mapTo="WapConfigurationStorage"></register>
        <register type="IWapMobileConfigStorage" mapTo="WapMobileConfigStorage"></register>
        <register type="IWapMobileAPKStorage" mapTo="WapMobileAPKStorage"></register>
        <register type="IWapMobileDataStorage" mapTo="WapMobileDataStorage"></register>
        <register type="IWapMobileDeviceStorage" mapTo="WapMobileDeviceStorage"></register>

        <!--定义Bulletin数据存储-->
        <register type="IWapBulletinStorage" mapTo="WapBulletinStorage"></register>
        <register type="IWapBulletinChannelStorage" mapTo="WapBulletinChannelStorage"></register>
        <register type="IWapBulletinExtendStorage" mapTo="WapBulletinExtendStorage"></register>
        
        <!--定义PrintSetting数据存储-->
        <register type="IWapPrintTemplateStorage" mapTo="WapPrintTemplateStorage"></register>
        <register type="IWapPrintSettingStorage" mapTo="WapPrintSettingStorage"></register>

        <!--定义Pwp数据存储-->
        <register type="IWapPwpStorage" mapTo="WapPwpStorage"></register>
        <register type="IWapPageTemplateStorage" mapTo="WapPageTemplateStorage"></register>        
        <register type="IWapPwpReportStorage" mapTo="WapPwpReportStorage"></register>        
        
        <!--Oracle-->
        <!--定义Config数据存储-->
        <!--<register type="IWapCalendarDateStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapCalendarDateStorage, SH3H.WAP.DataAccess.Oracle"></register>
        <register type="IWapCaliberStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapCaliberStorage, SH3H.WAP.DataAccess.Oracle"></register>
        <register type="IWapModelStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapModelStorage, SH3H.WAP.DataAccess.Oracle"></register>
        <register type="IWapProducerStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapProducerStorage, SH3H.WAP.DataAccess.Oracle"></register>
        <register type="IWapWordStorage" mapTo="SH3H.WAP.DataAccess.Oracle.Config.WapWordStorage, SH3H.WAP.DataAccess.Oracle"></register>-->

      </container>
    </containers>
  </unity>
</configuration>