<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container name="WorkerServiceContainer">
        <register type="SH3H.WAP.Service.Signalr.Consumer.WapEventMessageConsumer, SH3H.WAP.Service.Signalr"/>
      </container>
    </containers>
  </unity>
</configuration>