<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />    
  </configSections>
  <unity>

    <!--定义运行时-->
    <alias alias="IRuntime" type="SH3H.SDK.Host.Core.IRuntime, SH3H.SDK.Host.Core" />
    <alias alias="ISimulator" type="SH3H.SDK.Host.Core.ISimulator, SH3H.SDK.Host.Core" />
    <alias alias="IBoundEndpoint" type="SH3H.SDK.Host.Core.IBoundEndpoint, SH3H.SDK.Host.Core" />

    <containers>
      <container name="">
        <register name="WorkerServiceRuntime" type="IRuntime" mapTo="SH3H.WAP.Host.Core.Runtimes.WorkerServiceRuntime, SH3H.WAP.Host.Core"></register>
        <register name="TimerServiceRuntime" type="IRuntime" mapTo="SH3H.WAP.Host.Core.Runtimes.TimerServiceRuntime, SH3H.WAP.Host.Core"></register>
        <register name="WcfServiceRuntime" type="IRuntime" mapTo="SH3H.WAP.Host.Core.Runtimes.WcfServiceRuntime, SH3H.WAP.Host.Core"></register>
        <register name="SignalrServiceRuntime" type="IRuntime" mapTo="SH3H.WAP.Service.Signalr.Runtimes.SignalrServiceRuntime, SH3H.WAP.Service.Signalr"></register>
        <!--端点-->
        <register name="RabbitmqBoundEndpoint" type="IBoundEndpoint" mapTo="SH3H.WAP.Host.Core.Endpoints.RabbitMQEndpoint, SH3H.WAP.Host.Core"></register>
      </container>
      <container name="WorkerServiceRuntimeContainer"></container>
    </containers>
  </unity>
</configuration>