<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>

    <!--定义Auth服务-->
    <alias alias="IWapAuthService" type="SH3H.WAP.Contracts.Auth.IWapAuthService, SH3H.WAP.Contracts" />

    <!--定义FileServer服务-->
    <alias alias="IWapFileServerService" type="SH3H.WAP.Contracts.FileServer.IWapFileServerService, SH3H.WAP.Contracts" />

    <!--定义Scada服务-->
    <alias alias="IWapScadaQueryService" type="SH3H.WAP.Contracts.Scada.IWapScadaQueryService, SH3H.WAP.Contracts" />
    <alias alias="IWapScadaWriteService" type="SH3H.WAP.Contracts.Scada.IWapScadaWriteService, SH3H.WAP.Contracts" />

    <!--定义Config服务-->
    <alias alias="IWapConfigService" type="SH3H.WAP.Contracts.Config.IWapConfigService, SH3H.WAP.Contracts" />

    <!--定义Bulletin服务-->
    <alias alias="IWapBulletinService" type="SH3H.WAP.Contracts.Bulletin.IWapBulletinService, SH3H.WAP.Contracts" />

    <!--定义Print服务-->
    <alias alias="IWapPrintService" type="SH3H.WAP.Contracts.Print.IWapPrintService, SH3H.WAP.Contracts" />

    <!--定义Pwp服务-->
    <alias alias="IWapPwpService" type="SH3H.WAP.Contracts.Pwp.IWapPwpService, SH3H.WAP.Contracts" />
    <alias alias="IWapPageTemplateService" type="SH3H.WAP.Contracts.Pwp.IWapPageTemplateService, SH3H.WAP.Contracts" />
    <alias alias="IWapPwpReportService" type="SH3H.WAP.Contracts.Pwp.IWapPwpReportService, SH3H.WAP.Contracts" />    
    
    <containers>
      <container>
        <!--定义Auth服务实现-->
        <register type="IWapAuthService" mapTo="SH3H.WAP.Service.Auth.WapAuthServiceImpl, SH3H.WAP.Service.Auth"></register>

        <!--定义FileServer服务实现-->
        <register type="IWapFileServerService" mapTo="SH3H.WAP.Service.FileServer.WapFileServerServiceImpl, SH3H.WAP.Service.FileServer"></register>
        
        <!--定义Scada服务实现-->
        <register type="IWapScadaQueryService" mapTo="SH3H.WAP.Service.Scada.WapScadaQueryServiceImpl, SH3H.WAP.Service.Scada"></register>
        <register type="IWapScadaWriteService" mapTo="SH3H.WAP.Service.Scada.WapScadaWriteServiceImpl, SH3H.WAP.Service.Scada"></register>

        <!--定义Config服务实现-->
        <register type="IWapConfigService" mapTo="SH3H.WAP.Service.Config.WapConfigServiceImpl, SH3H.WAP.Service.Config"></register>

        <!--定义Bulletin服务实现-->
        <register type="IWapBulletinService" mapTo="SH3H.WAP.Service.Bulletin.WapBulletinServiceImpl, SH3H.WAP.Service.Bulletin"></register>
        
        <!--定义Print服务实现-->
        <register type="IWapPrintService" mapTo="SH3H.WAP.Service.Print.WapPrintServiceImpl, SH3H.WAP.Service.Print"></register>

        <!--定义Pwp服务实现-->
        <register type="IWapPwpService" mapTo="SH3H.WAP.Service.PWP.WapPwpServiceImpl, SH3H.WAP.Service.PWP"></register>
        <register type="IWapPageTemplateService" mapTo="SH3H.WAP.Service.PWP.WapPageTemplateServiceImpl, SH3H.WAP.Service.PWP"></register>        
        <register type="IWapPwpReportService" mapTo="SH3H.WAP.Service.PWP.WapPwpReportServiceImpl, SH3H.WAP.Service.PWP"></register>      
      </container>
    </containers>
  </unity>
</configuration>