<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="wap.host" type="SH3H.WAP.Host.Core.Configurations.WapConfigurationSection, SH3H.WAP.Host.Core"></section>        
  </configSections>
  <connectionStrings configSource="Configs\wap.connectionStrings.config" />
  <appSettings>
    <add key="AppName" value="Host" />
    <add key="Redis" value="128.1.3.204" />
    <add key="Signalr" value="http://*:12000/" />
    <add key="SignalrHub" value="wapHub" />
  </appSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="File-based Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="File-based Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Configs/entlib/entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <wap.host>
    <runtimes>
      <!--<runtime name="WcfServiceRuntime">
        <endpoint name="RabbitmqBoundEndpoint" address="rabbitmq://128.1.3.204/WSMP_ScadaService_1"/>
        <services>
          <service name="WsmpScadaService" type="SH3H.WSMP.Scada.Service.WsmpScadaWriteServiceImpl, SH3H.WSMP.Scada.Service"></service>
        </services>
      </runtime>
      <runtime name="SignalrServiceRuntime">
        <endpoint name="RabbitmqBoundEndpoint" address="rabbitmq://128.1.3.204/WSMP_SignalrService_1"/>
      </runtime>
      <runtime name="WorkerServiceRuntime">
        <workers>
          <worker name="ScadaWorker" address="rabbitmq://128.1.3.204/WSMP_ScadaService_In_1" container="ScadaWorkerServiceContainer"></worker>
          <worker name="AlarmWorker" address="rabbitmq://128.1.3.204/WSMP_AlarmService_In_1" container="AlarmWorkerServiceContainer"></worker>
          <worker name="SignalrWorker" address="rabbitmq://128.1.3.204/WSMP_SignalrService_1" container="AlarmWorkerServiceContainer"></worker>
        </workers>
      </runtime>
      <runtime name="TimerServiceRuntime">
        <endpoint name="RabbitmqBoundEndpoint" address="rabbitmq://128.1.3.204/WSMP_TimerService"/>
      </runtime>-->

      <runtime name="SignalrServiceRuntime">
        <params>
          <param name="url" value="http://*:12000"></param>
        </params>
      </runtime>
      <runtime name="WorkerServiceRuntime">
		    <workers>
		      <worker name="SignalrWorker" address="rabbitmq://172.16.237.22/WSMP_SignalrService" container="WorkerServiceContainer"></worker>
		    </workers>
      </runtime>      
    </runtimes>
  </wap.host>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="UnityServiceBehavior" type="SH3H.WAP.Host.Core.Wcf.UnityServiceBehavior, SH3H.WAP.Host.Core" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="netTcpEndpointBehaviorConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="WsmpScadaServiceBehaviorConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <UnityServiceBehavior runtimeName="WcfServiceRuntime" containerName="ScadaServiceContainer" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="netTcpBinding_WapScadaQueryService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="WsmpScadaServiceBehaviorConfig" name="SH3H.WSMP.Scada.Service.WsmpScadaWriteServiceImpl">
        <endpoint address="net.tcp://localhost:9011/wsmp/WsmpScadaService" behaviorConfiguration="netTcpEndpointBehaviorConfig" binding="netTcpBinding" bindingConfiguration="netTcpBindingConfig" name="netTcpBinding_WsmpScadaService" contract="SH3H.WSMP.Scada.Contracts.IWsmpScadaWriteService" />
        <host>
          <timeouts openTimeout="00:59:00" />
        </host>
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://128.1.3.204:9001/wap/WapScadaQueryService" binding="netTcpBinding" bindingConfiguration="netTcpBinding_WapScadaQueryService" contract="SH3H.WAP.Contracts.Scada.IWapScadaQueryService" name="netTcpBinding_WapScadaQueryService" />
    </client>
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.3.0" newVersion="3.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.Host.Core" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.8" newVersion="1.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.Infrastructure" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.5" newVersion="1.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.Infrastructure.Messaging" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.5" newVersion="1.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.Infrastructure.Caching" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.1" newVersion="1.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.Share" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.16" newVersion="1.0.0.16" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SharpFrame.Common" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.1" newVersion="1.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SharpFrame.Math" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.3" newVersion="1.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.Definition" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.5" newVersion="1.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.DataAccess.Core" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.5" newVersion="1.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SH3H.SDK.DataAccess.Db" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.9" newVersion="1.0.0.9" />
      </dependentAssembly>
	        <dependentAssembly>
        <assemblyIdentity name="SH3H.WAP.Model" publicKeyToken="74ba8b940628b95d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.3" newVersion="1.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>