<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container>
        <register type="SH3H.WAP.WebApi.Controllers.MiscellaneousController, SH3H.WAP.WebApi"></register>
        <!-- controller -->
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolObjectController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolTaskController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolTaskCKPointController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWGridController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolPlanController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolCKPointController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolTaskExtendController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWUserController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolPeriodController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWVehicleController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolObjectReportController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWIssueController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWPatrolGISRelationController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWWapUserAndRoleController, SH3H.WAP.FieldWork.Controllers"></register>
        <register type="SH3H.WAP.FieldWork.Controllers.FWConstructionSiteController, SH3H.WAP.FieldWork.Controllers"></register>
        
      </container>
    </containers>
  </unity>
</configuration>