<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="AppName" value="WebApi" />
  <add key="Redis" value="128.1.8.76" />
  <add key="BDMAP_AK" value="uhPW0H7ypz2uIE28Tl30yp9hLuXG0ilx" />
  <add key="APP_KEY" value="ws" />

  <!--获取派单人候选人列表中无上级的组织ID-->
  <add key="WORKSHEET_DEFAULT_ORG_PARENT_ID" value="0"/>

  <!--工单配置超时(单位分）-->
  <add key="WORKSHEET_CONFIG_OVERTIME" value="5" />

  <!--工单获取执行超时(单位分）-->
  <add key="WORKSHEET_PROCESS_OVERTIME" value="5" />
  <!--工单管理员角色-->
  <add key="WORKSHEET_MANAGE_ROLE" value="平台管理员" />
  <!--消息通知时格式-->
  <add key="WORKSHEET_NOTIFIY_MESSAGE_TEMPLATE_TIMEOUT" value="操作[ActionName]时,发生超期" />
  <add key="WORKSHEET_NOTIFIY_MESSAGE_TEMPLATE_PROCESSSTEP" value="操作[StepName]已提交" />
  <add key="WORKSHEET_NOTIFIY_MESSAGE_TEMPLATE_CREATE" value="已完成创建" />
  <add key="WORKSHEET_NOTIFIY_MESSAGE_TEMPLATE_CLOSE" value="已完成销单" />
  <add key="WORKSHEET_NOTIFIY_MESSAGE_TEMPLATE_DELAY" value="已延期" />
  <add key="WORKSHEET_NOTIFIY_MESSAGE_TEMPLATE_URGE" value="已催办" />

  <!--无组织时默认空组织名-->
  <add key="WORKSHEET_NO_ORG_NAME" value="额外可选人员"/>

  <!--平台配置-->
  <add key="WAP_PLAT_PATH" value="http://128.1.8.75:8081/api/" />
  <add key="WAP_GET_USER_BY_KEY" value="wap/v2/users/{0}" />
  <add key="WAP_GET_USER_BY_ID" value="wap/v2/users?userId={0}" />
  <add key="WAP_GET_USER_ALL" value="wap/v2/users" />
  <add key="WAP_GET_USER_BY_ORGKEY" value="wap/v2/organizations/users?orgKeys={0}" />
  <add key="WAP_GET_ORG_BY_KEY" value="wap/v2/organizations/{0}" />
  <add key="WAP_GET_ORG_BY_ID" value="wap/v2/organizations?id={0}" />
  <add key="WAP_GET_ORG_ALL" value="wap/v2/organizations" />
  <add key="WAP_GET_WORKTIME" value="wap/v2/common/calendars/{0}/dates?startDate={1}&amp;offset={2}" />
  <add key="WAP_GET_USERS_BY_ORGID" value="wap/v2/users?orgId={0}" />
  <add key="WAP_GET_ROLE_NAME_LIST_STR" value="wap/v2/users?roleNameListStr={0}" />
  <add key="WAP_GET_USER_FUNCTION_STR" value="wap/v2/functions?appIdentity={0}&amp;userKey={1}" />
  <add key="WAP_GET_USER_ROLES_STR" value="wap/v2/users/{0}/roles" />
  <add key="WAP_GET_ROLE_ALL_STR" value="wap/v2/roles" />
  <add key="WAP_GET_ROLE_BY_KEY_STR" value="wap/v2/roles/{0}" />



  <add key="WAP_GET_USER_ORGIDS_AND_ROLEIDS_STR" value="wap/v2/organizations?orgIds={0}&amp;roleIds={1}" />


  <add key="WAP_MOBILE_PATH" value="http://128.1.8.75:8085/api/" />
  <add key="WAP_GET_ALLUSERS" value="wap/v2/users" />
  <add key="WAP_GET_USERS_ORGKEY" value="wap/v2/organizations/{0}/users" />
  <add key="WAP_GET_USERS_ONLINE" value="wap/v2/mobile/users/online" />
  <add key="WAP_GET_USERS_ONLINE_BY_KEY" value="wap/v2/mobile/users/online?userKeys={0}" />
  <add key="WAP_GET_USERS_TRACKS" value="wap/v2/mobile/tracks?userId={0}&amp;deviceId={1}&amp;start={2}&amp;end={3}" />


  <!--WAP_MESSAGE-->
  <add key="WAP_MESSAGE_SEND" value="wap/push/v1/message" />
  <add key="WAP_MESSAGE_SEND_TEMPLATE" value="wap/push/v1/templatemessage"/>
  <add key="WAP_MESSAGE_SEND_SIGNALR" value= "wap/web_push/v1/message" />
  <add key="WAP_MESSAGE_SEND_RABBITMQ" value="wap/app_push/v1/message" />
  <add key="WAP_MESSAGE_SEND_SMS" value="wap/sms_push/v1/message" />
  <add key="WAP_MESSAGE_SEND_EMAIL" value="wap/email_push/v1/message"/>

  <add key="WAP_MESSAGE_SUMMARY_MOBILE_TYPE" value="602" />

  <add key="WAP_MESSAGE_NOTIFICATION_DOMAIN" value="128.1.8.75:8082" />
  <add key="WAP_MESSAGE_NOTIFICATION_METHOD" value="1" />
  <add key="WAP_MESSAGE_NOTIFICATION_PLANNING_TIME" value="" />
  <add key="WAP_MESSAGE_NOTIFICATION_RETRY_TIMES" value="3" />
  <add key="WAP_MESSAGE_NOTIFICATION_RETRY_INTERVAL" value="30" />
  <add key="WAP_MESSAGE_NOTIFICATION_TASK_MESSAGETYPE" value="fwMsg" />

  <!--消息发送来源标识-->
  <add key="WAP_MESSAGE_NOTIFICATION_FROM_POINTID" value="FwHost" />
  <!--多个配置逗号分隔-->
  <add key="WAP_MESSAGE_NOTIFICATION_TASK_TO_USER_TYPE" value="app,uids" />



  <!--系统输出坐标系-->
  <add key="PROJECTION" value="CUSTOM" />
  <add key="CITY" value="深圳市" />

  <!--地图坐标七参数转换配置-->
  <!--坐标平移参数-->
  <add key="deltaX" value="-390714"/>
  <add key="deltaY" value="-2474710"/>
  <!--起始经度-->
  <add key="edtD" value="114" />
  <add key="edtM" value="0" />
  <add key="edtS" value="0" />
  <!--七参数-->
  <add key="edtDX" value="-373.959409" />
  <add key="edtDY" value="874.117138" />
  <add key="edtDZ" value="399.870214" />
  <add key="edtRX" value="-1327.10547385447" />
  <add key="edtRY" value="2969.68544019844" />
  <add key="edtRZ" value="1341.68369281855" />
  <add key="edtK" value="-0.000144345405" />


  <!--工单processSchema版本-->
  <add key="WS_PROCESS_SCHEMA_VERSION" value="1.0"/>


  <!--外业系统：司机角色-->
  <add key="WAP_DRIVER_ROLE" value="6"/>
  <!--外业系统：巡查人员角色-->
  <add key="WAP_PATROLSTAFF_ROLE" value="7"/>
  <!--外业系统：被管理员查看的人员角色ID，可以多个角色，用英文逗号分割-->
  <add key="WAP_COUNT_PATROLSTAFF_ROLE" value="7"/>
  <!--外业系统：可查看巡查概况的管理员角色ID，可以多个角色，用英文逗号分割-->
  <add key="WAP_PATROLTASK_MANAGE_ROLE" value="1,19"/>

  <!--外业系统：获取第三方在线车辆数据【用于标准api】-->
  <add key="OnlineVehicleOut" value="http://10.200.6.90:10022/WisdomGPSApi/"/>
  <!--外业系统：GIS服务查询【用于标准api】-->
  <add key="GisQuery" value="http://119.136.19.67:6080/arcgis/rest/services/"/>
  <!--外业系统：水表信息【用于标准api】-->
  <add key="MeterQuery" value="http://138.0.0.93:8066/api/"/>
  <!--<add key="MeterQuery" value="http://138.0.0.62:8022/api/"/>-->
</appSettings>