<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>

    <!--定义Cache服务-->
    <!--<alias alias="IWapCacheService" type="SH3H.WAP.Cache.Contracts.IWapCacheService, SH3H.WAP.Cache.Contracts" />-->


    <!--定义 FW IRepo-->
    <alias alias="IFWPatrolObjectRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolObjectRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWPatrolTaskRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolTaskRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWPatrolTaskCKPointRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolTaskCKPointRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWGridRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWGridRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWPatrolPlanRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolPlanRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWPatrolCKPointRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolCKPointRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWPatrolTaskExtendRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolTaskExtendRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWUserRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWUserRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWPatrolPeriodRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolPeriodRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWVehicleRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWVehicleRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWWapUserAndRoleRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWWapUserAndRoleRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWPatrolObjectReportRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolObjectReportRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWIssueRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWIssueRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWPatrolGISRelationRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWPatrolGISRelationRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWQYSFacilityRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWQYSFacilityRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IMiscRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IMiscRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IAuthRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IAuthRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    <alias alias="IFWConstructionSiteRepository" type="SH3H.WAP.FieldWork.DataAccess.Repo.Contact.IFWConstructionSiteRepository, SH3H.WAP.FieldWork.DataAccess.Repo" />
    
    <!--定义WS IRepo-->
    <alias alias="IWSSeqRepository" type="SH3H.WAP.WorkSheet.DataAccess.Repo.Contact.IWSSeqRepository, SH3H.WAP.WorkSheet.DataAccess.Repo" />
    <!-- 在用 -->



    <!--定义FW IService-->
    <alias alias="IFWPatrolObjectService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolObjectService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWPatrolTaskService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolTaskService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWPatrolTaskCKPointService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolTaskCKPointService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWGridService" type="SH3H.WAP.FieldWork.Contracts.IFWGridService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWPatrolPlanService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolPlanService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWPatrolCKPointService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolCKPointService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWPatrolTaskExtendService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolTaskExtendService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWUserService" type="SH3H.WAP.FieldWork.Contracts.IFWUserService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWPatrolPeriodService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolPeriodService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWVehicleService" type="SH3H.WAP.FieldWork.Contracts.IFWVehicleService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWWapUserAndRoleService" type="SH3H.WAP.FieldWork.Contracts.IFWWapUserAndRoleService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWPatrolObjectReportService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolObjectReportService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWIssueService" type="SH3H.WAP.FieldWork.Contracts.IFWIssueService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWPatrolGISRelationService" type="SH3H.WAP.FieldWork.Contracts.IFWPatrolGISRelationService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWQYSFacilityService" type="SH3H.WAP.FieldWork.Contracts.IFWQYSFacilityService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IMiscService" type="SH3H.WAP.FieldWork.Contracts.IMiscService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IAuthService" type="SH3H.WAP.FieldWork.Contracts.IAuthService, SH3H.WAP.FieldWork.Contracts" />
    <alias alias="IFWConstructionSiteService" type="SH3H.WAP.FieldWork.Contracts.IFWConstructionSiteService, SH3H.WAP.FieldWork.Contracts" />

    <!--定义WS IService-->
    <alias alias="IWSSeqService" type="SH3H.WAP.WorkSheet.Contracts.IWSSeqService, SH3H.WAP.WorkSheet.Contracts" />



    <containers>
      <container>

        <!--定义Cache服务实现-->
        <!--<register type="IWapCacheService" mapTo="SH3H.WAP.Cache.Service.WapCacheServiceImpl, SH3H.WAP.Cache.Service">
        </register>-->

        <!--定义FW Repo实现-->
        <register type="IFWPatrolObjectRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolObjectRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWPatrolTaskRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolTaskRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWPatrolTaskCKPointRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolTaskCKPointRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWGridRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWGridRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWPatrolPlanRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolPlanRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWPatrolCKPointRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolCKPointRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWPatrolTaskExtendRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolTaskExtendRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWUserRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWUserRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWPatrolPeriodRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolPeriodRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWVehicleRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWVehicleRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWWapUserAndRoleRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWWapUserAndRoleRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWPatrolObjectReportRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolObjectReportRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWIssueRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWIssueRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWPatrolGISRelationRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWPatrolGISRelationRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWQYSFacilityRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWQYSFacilityRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IMiscRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.MiscRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IAuthRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.AuthRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>
        <register type="IFWConstructionSiteRepository" mapTo="SH3H.WAP.FieldWork.DataAccess.Repo.FWConstructionSiteRepository, SH3H.WAP.FieldWork.DataAccess.Repo"></register>

        <!--定义WS Repo实现-->
        <register type="IWSSeqRepository" mapTo="SH3H.WAP.WorkSheet.DataAccess.Repo.WSSeqRepository, SH3H.WAP.WorkSheet.DataAccess.Repo"></register>



        <!--定义FW　 Service实现-->
        <register type="IFWPatrolObjectService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolObjectServiceImpl, SH3H.WAP.FieldWork.Service">    </register>
        <register type="IFWPatrolTaskService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolTaskServiceImpl, SH3H.WAP.FieldWork.Service">    </register>
        <register type="IFWPatrolTaskCKPointService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolTaskCKPointImpl, SH3H.WAP.FieldWork.Service">    </register>
        <register type="IFWGridService" mapTo="SH3H.WAP.FieldWork.Service.FWGridServiceImpl, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWPatrolPlanService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolPlanService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWPatrolCKPointService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolCKPointService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWPatrolTaskExtendService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolTaskExtendImpl, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWUserService" mapTo="SH3H.WAP.FieldWork.Service.FWUserServiceImpl, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWPatrolPeriodService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolPeriodServiceImpl, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWVehicleService" mapTo="SH3H.WAP.FieldWork.Service.FWVehicleService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWWapUserAndRoleService" mapTo="SH3H.WAP.FieldWork.Service.FWWapUserAndRoleServiceImpl, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWPatrolObjectReportService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolObjectReportService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWIssueService" mapTo="SH3H.WAP.FieldWork.Service.FWIssueService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWPatrolGISRelationService" mapTo="SH3H.WAP.FieldWork.Service.FWPatrolGISRelationService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWQYSFacilityService" mapTo="SH3H.WAP.FieldWork.Service.FWQYSFacilityService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IMiscService" mapTo="SH3H.WAP.FieldWork.Service.MiscService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IAuthService" mapTo="SH3H.WAP.FieldWork.Service.AuthService, SH3H.WAP.FieldWork.Service"></register>
        <register type="IFWConstructionSiteService" mapTo="SH3H.WAP.FieldWork.Service.FWConstructionSiteServiceImpl, SH3H.WAP.FieldWork.Service"></register>

        <!--定义WS　Service实现-->
        <register type="IWSSeqService" mapTo="SH3H.WAP.WorkSheet.Service.WSSeqServiceImpl, SH3H.WAP.WorkSheet.Service">    </register>


      </container>
    </containers>
  </unity>
</configuration>