<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>

    <!--FW 定义数据访问器程序集-->
    <assembly name="SH3H.WAP.FieldWork.DataAccess.SqlServer" />
    <namespace name="SH3H.WAP.FieldWork.DataAccess.SqlServer" />

    <!--WS 定义数据访问器程序集-->
    <assembly name="SH3H.WAP.WorkSheet.DataAccess.SqlServer" />
    <namespace name="SH3H.WAP.WorkSheet.DataAccess.SqlServer" />
    <!--定义FW　IStorage-->
    <alias alias="IFWPatrolObjectStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolObjectStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWPatrolTaskStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolTaskStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWPatrolTaskCKPointStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolTaskCKPointStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWGridStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWGridStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWPatrolPlanStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolPlanStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWPatrolCKPointStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolCKPointStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWPatrolTaskExtendStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolTaskExtendStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWUserStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWUserStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWPatrolPeriodStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolPeriodStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWVehicleStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWVehicleStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWWapUserAndRoleStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWWapUserAndRoleStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWPatrolObjectReportStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolObjectReportStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWIssueStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWIssueStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWPatrolGISRelationStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWPatrolGISRelationStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWQYSFacilityStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWQYSFacilityStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IMiscStorage" type="SH3H.WAP.FieldWork.DataAccess.IMiscStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IAuthStorage" type="SH3H.WAP.FieldWork.DataAccess.IAuthStorage, SH3H.WAP.FieldWork.DataAccess" />
    <alias alias="IFWConstructionSiteStorage" type="SH3H.WAP.FieldWork.DataAccess.IFWConstructionSiteStorage, SH3H.WAP.FieldWork.DataAccess" />

    <!--定义WS　IStorage-->
    <alias alias="IWSSeqStorage" type="SH3H.WAP.WorkSheet.DataAccess.IWSSeqStorage, SH3H.WAP.WorkSheet.DataAccess" />
    
    
    <containers>
      <container>

        <!--定义FW　Storage实现-->
        <register type="IFWPatrolObjectStorage" mapTo="FWPatrolObjectStorage" />
        <register type="IFWPatrolTaskStorage" mapTo="FWPatrolTaskStorage" />
        <register type="IFWPatrolTaskCKPointStorage" mapTo="FWPatrolTaskCKPointStorage" />
        <register type="IFWGridStorage" mapTo="FWGridStorage" />
        <register type="IFWPatrolPlanStorage" mapTo="FWPatrolPlanStorage" />
        <register type="IFWPatrolCKPointStorage" mapTo="FWPatrolCKPointStorage" />
        <register type="IFWPatrolTaskExtendStorage" mapTo="FWPatrolTaskExtendStorage" />
        <register type="IFWUserStorage" mapTo="FWUserStorage" />
        <register type="IFWPatrolPeriodStorage" mapTo="FWPatrolPeriodStorage" />
        <register type="IFWVehicleStorage" mapTo="FWVehicleStorage" />
        <register type="IFWWapUserAndRoleStorage" mapTo="FWWapUserAndRoleStorage" />
        <register type="IFWPatrolObjectReportStorage" mapTo="FWPatrolObjectReportStorage" />
        <register type="IFWIssueStorage" mapTo="FWIssueStorage" />
        <register type="IFWPatrolGISRelationStorage" mapTo="FWPatrolGISRelationStorage" />
        <register type="IFWQYSFacilityStorage" mapTo="FWQYSFacilityStorage" />
        <register type="IMiscStorage" mapTo="MiscStorage" />
        <register type="IAuthStorage" mapTo="AuthStorage" />
        <register type="IFWConstructionSiteStorage" mapTo="FWConstructionSiteStorage" />



        <!--定义WS　 Storage实现-->
        <register type="IWSSeqStorage" mapTo="WSSeqStorage" />


      </container>
    </containers>
  </unity>
</configuration>