<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container>
        <!-- controller-->

        <register type="FieldWork.Outgoing.WebApi.Controllers.FieldWorkController, FieldWork.Outgoing.WebApi"></register>
        <register type="FieldWork.Outgoing.WebApi.Controllers.MiscController, FieldWork.Outgoing.WebApi"></register>

      </container>
    </containers>
  </unity>
</configuration>